apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
    kingdom: "{{ .Values.kingdom }}"
  name: nginx
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: nginx
    kingdom: "{{ .Values.kingdom }}"
    deployment: nginx
  sessionAffinity: None
  type: ClusterIP
